<MudStack Row="true" AlignItems="AlignItems.Center" Class="pa-4">
    <a href="https://github.com/TeseySTD/Orchid" target="_blank" style="line-height: 0;">
        <MudImage Src="/images/logo.svg" Width="40" Alt="Orchid logo"/>
    </a>
    <MudText Typo="Typo.h6" Class="ml-2" Color="Color.Primary">Orchid</MudText>
</MudStack>

<MudDivider Class="my-2"/>

<MudNavMenu>
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
    <MudNavLink Href="https://github.com/TeseySTD/Orchid" Target="_blank" Icon="@Icons.Custom.Brands.GitHub">
        GitHub
    </MudNavLink>
</MudNavMenu>
