@using Orchid.Core.Models

<div class="nav-menu border rounded-lg shadow-sm">
    <div class="nav-header p-4 border-b flex justify-between items-center cursor-pointer" @onclick="ToggleMenu">
        <h2 class="font-medium text-lg">Navigation</h2>
        <span>@(IsOpen ? "▼" : "▶")</span>
    </div>

    @if (IsOpen)
    {
        <div class="p-4">
            @foreach (var item in Navigation.NavItems)
            {
                <BookNavItem Item="item" OnChapterSelect="OnChapterSelect" />
            }
        </div>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public required Navigation Navigation { get; set; }

    [Parameter, EditorRequired]
    public required EventCallback<int> OnChapterSelect { get; set; }

    private bool IsOpen { get; set; }

    private void ToggleMenu()
    {
        IsOpen = !IsOpen;
    }
}
