.code-container {
    background-color: var(--mud-palette-background-grey);
    padding: 10px;
    border-radius: 4px;

    max-height: 50%;
    overflow-y: auto; 
    overflow-x: auto;

    border: 1px solid var(--mud-palette-lines-default);
}

.code-container code {
    font-family: monospace;
    font-size: 0.75em;

    white-space: pre-wrap;
    word-break: break-all;
}
