@using Orchid.Core.Models.ValueObjects
<div class="chapter-container">
    @if (!string.IsNullOrEmpty(_chapterHtml))
    {
        <style>
            @((MarkupString)_bookCss)
        </style>
        @((MarkupString)_chapterHtml)
    }
</div>

@code {
    [Parameter] public string ChapterHtml { get; set; }
    [Parameter] public IEnumerable<CssFile> BookCss { get; set; }
    private string _chapterHtml;
    private string _bookCss;

    protected override Task OnParametersSetAsync()
    {
        if (!string.IsNullOrEmpty(ChapterHtml))
        {
            _bookCss = string.Join("\n", BookCss.Select(d => d.Content));
            _chapterHtml = ChapterHtml;
        }

        return base.OnParametersSetAsync();
    }

}