@using Orchid.Core.Models.ValueObjects
<div class="chapter-container">
    <h1>@_chapter.Title</h1>
    @if (!string.IsNullOrEmpty(_chapter.Html))
    {
        <style>
            @((MarkupString)_bookCss)
        </style>
        @((MarkupString)_chapter.Html)
    }
</div>

@code {
    [Parameter] public Chapter Chapter { get; set; }
    [Parameter] public IEnumerable<CssFile> BookCss { get; set; }
    private Chapter _chapter;
    private string _bookCss;

    protected override Task OnParametersSetAsync()
    {
        if (!string.IsNullOrEmpty(Chapter.Html))
        {
            _bookCss = string.Join("\n", BookCss.Select(d => d.Content));
            _chapter = Chapter;
        }

        return base.OnParametersSetAsync();
    }

}