.chapter-viewport {
    width: 100%;
    height: 100%;
    overflow: hidden; 
    position: relative;
}

.chapter-content {
    height: 100%;
    width: 100%;
    
    column-width: 100vw; 
    column-gap: 0; 
    column-fill: auto; 
    
    overflow-x: hidden;  
    overflow-y: hidden;
    
    word-wrap: break-word;
}

::deep img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    break-inside: avoid;
}

::deep h1, ::deep h2, ::deep h3, ::deep h4, ::deep h5, ::deep h6 {
    break-inside: avoid; 
}
